In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('bus_stop_times_feature_added_all.csv')

In [3]:
df.conditions.describe()

count                91683
unique                   6
top       Partially cloudy
freq                 42737
Name: conditions, dtype: object

In [4]:
df.stop_type.describe()

count     91683
unique        3
top          br
freq      38935
Name: stop_type, dtype: object

In [5]:
conditions_le = LabelEncoder()

In [6]:
df['conditions'] = conditions_le.fit_transform(df['conditions'])

In [7]:
dict(zip(conditions_le.classes_, conditions_le.transform(conditions_le.classes_)))

{'Clear': 0,
 'Overcast': 1,
 'Partially cloudy': 2,
 'Rain': 3,
 'Rain, Overcast': 4,
 'Rain, Partially cloudy': 5}

In [8]:
stop_type_le = LabelEncoder()

In [9]:
df['stop_type'] = stop_type_le.fit_transform(df['stop_type'])

In [10]:
dict(zip(stop_type_le.classes_, stop_type_le.transform(stop_type_le.classes_)))

{'br': 0, 'mod': 1, 'pro': 2}

In [11]:
df.to_csv('bus_stop_times_feature_encoded_all.csv', index=False)

In [12]:
df

,trip_id,deviceid,direction,bus_stop,date,arrival_time,departure_time,day_of_week,time_of_day,Sunday/holiday,...,hour_of_day,day,month,temp,precip,windspeed,conditions,rt(n-1),stop_type,dwell_time_in_seconds
0,1,262,1,101,2021-10-01,06:40:58,06:42:12,4,6.50,0,...,6,1,10,20.0,0.0,6.1,2,69.0,2,74.0
1,1,262,1,102,2021-10-01,06:45:42,06:45:42,4,6.75,0,...,6,1,10,20.0,0.0,6.1,2,210.0,1,0.0
2,1,262,1,103,2021-10-01,06:53:58,06:54:04,4,6.75,0,...,6,1,10,20.0,0.0,6.1,2,496.0,1,6.0
3,1,262,1,104,2021-10-01,06:57:19,06:57:19,4,6.75,0,...,6,1,10,20.0,0.0,6.1,2,195.0,0,0.0
4,1,262,1,105,2021-10-01,06:58:56,07:02:27,4,6.75,0,...,6,1,10,20.0,0.0,6.1,2,97.0,2,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91678,25370,121,1,110,2022-11-01,18:47:38,18:47:53,1,18.75,0,...,18,1,11,20.5,0.0,8.3,1,134.0,1,15.0
91679,25370,121,1,111,2022-11-01,18:50:08,18:50:15,1,18.75,0,...,18,1,11,20.5,0.0,8.3,1,135.0,0,7.0
91680,25370,121,1,112,2022-11-01,18:52:39,18:52:50,1,18.75,0,...,18,1,11,20.5,0.0,8.3,1,144.0,0,11.0
91681,25370,121,1,113,2022-11-01,18:55:01,18:55:14,1,18.75,0,...,18,1,11,20.5,0.0,8.3,1,131.0,1,13.0
91682,25370,121,1,114,2022-11-01,18:56:55,18:57:10,1,18.75,0,...,18,1,11,20.5,0.0,8.3,1,101.0,0,15.0