In [291]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import xgboost as xgb
import numpy as np
from sklearn.metrics import mean_squared_error

In [293]:
import warnings
warnings.filterwarnings('ignore')

In [276]:
path= './data/bus_stop_times_feature_added_all.csv'
df = pd.read_csv(path)
df = df[df['week_no'] < 25]

def condition(x):
    if x == 0:
        return 0
    else:
        return 1

df = df[df['dwell_time_in_seconds'].apply(condition) == 1]

In [277]:
df = df[['deviceid',
         'bus_stop',
         'week_no',
         'day_of_week',
         'Sunday/holiday',
         'saturday',
         'time_of_day',
         'dt(w-1)',
         'dt(w-2)',
         'dt(w-3)',
         'dt(t-1)',
         'dt(t-2)',
         'dt(n-1)',
         'dt(n-2)',
         'dt(n-3)',
         'temp', 
         'precip',
         'rt(n-1)',
         'dwell_time_in_seconds']]
df

,deviceid,bus_stop,week_no,day_of_week,Sunday/holiday,saturday,time_of_day,dt(w-1),dt(w-2),dt(w-3),dt(t-1),dt(t-2),dt(n-1),dt(n-2),dt(n-3),temp,precip,rt(n-1),dwell_time_in_seconds
0,262,101,1,4,0,0,6.50,92.0,92.0,92.0,92.0,92.0,92.0,92.0,92.0,20.0,0.000,69.0,74.0
2,262,103,1,4,0,0,6.75,28.0,28.0,28.0,28.0,28.0,0.0,74.0,28.0,20.0,0.000,496.0,6.0
4,262,105,1,4,0,0,6.75,230.0,230.0,230.0,230.0,230.0,0.0,6.0,0.0,20.0,0.000,97.0,211.0
5,262,106,1,4,0,0,7.00,24.0,24.0,24.0,24.0,24.0,211.0,0.0,6.0,20.7,0.000,210.0,35.0
6,262,107,1,4,0,0,7.00,15.0,15.0,15.0,15.0,15.0,35.0,211.0,0.0,20.7,0.000,45.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62820,121,110,24,6,1,0,14.25,21.0,21.0,21.0,21.0,21.0,15.0,15.0,15.0,23.7,6.742,190.0,15.0
62821,121,111,24,6,1,0,14.25,10.0,10.0,10.0,10.0,10.0,15.0,15.0,15.0,23.7,6.742,165.0,15.0
62822,121,112,24,6,1,0,14.25,8.0,8.0,8.0,8.0,8.0,15.0,15.0,15.0,23.7,6.742,177.0,6.0
62823,121,113,24,6,1,0,14.25,19.0,19.0,19.0,19.0,15.0,6.0,15.0,15.0,23.7,6.742,168.0,75.0
62824,121,114,24,6,1,0,14.25,15.0,15.0,15.0,15.0,75.0,75.0,6.0,15.0,23.7,6.742,132.0,15.0

In [307]:
def predict(model, dt, t):
    preds = model.predict(dt)
    rmse = np.sqrt(mean_squared_error(t['dwell_time_in_seconds'], preds)) 
    print(f"RMSE Score: {rmse}")

<hr>

In [284]:
batch = []
dbatch =[]
batch.append(df[df['week_no'] <= 19]) 
for i in range(20,24):
    batch.append(df[df['week_no'] == i])
for i in batch:
    dbatch.append([i.drop(columns=['week_no']), i[['dwell_time_in_seconds']]])

In [297]:
def inc_train(is_initial, data_batch, prev_model):
    curr_model = xgb.XGBRegressor(colsample_bytree = 0.7, learning_rate = 0.1, max_depth = 6, alpha = 10, n_estimators = 1000)
    if is_initial:
        curr_model.fit(data_batch[0],data_batch[1])
    else:
        curr_model = curr_model.fit(data_batch[0],data_batch[1], xgb_model= prev_model)
    return curr_model

In [308]:
models = []
for i in range(len(batch)):
    if i!=0:
        curr_model = inc_train(False, dbatch[i], models[i-1])
    else:
        curr_model = inc_train(True,dbatch[i], None)
    models.append(curr_model)
    for j in range(len(batch)):
        print(f"Results of data batch {j+1}  with model {i+1}")
        predict(curr_model, dbatch[j][0], batch[j])

Results of data batch 1  with model 1
RMSE Score: 0.6646466048502974
Results of data batch 2  with model 1
RMSE Score: 2.7019512122988196
Results of data batch 3  with model 1
RMSE Score: 4.327741378871815
Results of data batch 4  with model 1
RMSE Score: 3.399327299196802
Results of data batch 5  with model 1
RMSE Score: 2.4344006028303284
Results of data batch 1  with model 2
RMSE Score: 1.31422790185022
Results of data batch 2  with model 2
RMSE Score: 0.623226339892388
Results of data batch 3  with model 2
RMSE Score: 3.9913804123733705
Results of data batch 4  with model 2
RMSE Score: 2.9371368690021487
Results of data batch 5  with model 2
RMSE Score: 2.202377046043177
Results of data batch 1  with model 3
RMSE Score: 3.0091783602733932
Results of data batch 2  with model 3
RMSE Score: 2.425954219828708
Results of data batch 3  with model 3
RMSE Score: 2.6244801876993558
Results of data batch 4  with model 3
RMSE Score: 3.503771355773687
Results of data batch 5  with model 3
RMSE Score: 2.260357093242325
Results of data batch 1  with model 4
RMSE Score: 4.993599273936945
Results of data batch 2  with model 4
RMSE Score: 3.6195211625728976
Results of data batch 3  with model 4
RMSE Score: 4.595136296857713
Results of data batch 4  with model 4
RMSE Score: 4.400759842191092
Results of data batch 5  with model 4
RMSE Score: 4.073451944511955
Results of data batch 1  with model 5
RMSE Score: 4.1838207878076386
Results of data batch 2  with model 5
RMSE Score: 3.3563107756011394
Results of data batch 3  with model 5
RMSE Score: 4.103585043396386
Results of data batch 4  with model 5
RMSE Score: 3.2078170564670847
Results of data batch 5  with model 5
RMSE Score: 0.8146177287322194